#contact{
    display: flex;
    flex-direction: column;
    min-height: 65vh;
    /* background-color: #27408b; */
    align-items: center;
    background-color: #dee3e742;
    margin: 0 auto;
}
.subtitle-contact{
    font-size: 3rem;
    background: linear-gradient(90deg, #1160a7,#32cf81);                                        
    -webkit-background-clip: text; 
    color: transparent; 
    margin-top: 4vh;
}
.container-contact{
    display: flex;
    /* background-color: #32cf81; */
    width: 100%;
    flex: 1;
    justify-content: center;
    align-items: center;
    margin: 4vw;
}
/* From Uiverse.io by Yaya12085 */ 
.card {
    background-color: #fff;
    border-radius: 10px;
    padding: 20px;
    width: 350px;
    display: flex;
    flex-direction: column;
  }
  
  .title-form {
    font-size: 24px;
    font-weight: 600;
    text-align: center;
    color: #53a7f5;
  }
  
  .form {
    margin-top: 20px;
    display: flex;
    flex-direction: column;
  }
  
  .group {
    position: relative;
  }
  
  .form .group label {
    font-size: 16px;
    color: rgb(99, 102, 102);
    background-color: #fff;
    position: relative;
    bottom: 4px;

  }
  
  .form .group input,
  .form .group textarea {
    padding: 10px;
    border-radius: 5px;
    border: 1px solid rgba(0, 0, 0, 0.2);
    margin-bottom: 20px;
    outline: 0;
    width: 100%;
    background-color: transparent;
  }
  .form .group textarea {
    resize: none;
    height: 100px;
  }
  
  .form button {
    background-color: #3366cc;
    color: #fff;
    border: none;
    border-radius: 5px;
    padding: 10px;
    font-size: 16px;
    cursor: pointer;
    transition: all 0.3s ease;
  }
  
  .form button:hover {
    background-color: #27408b;
  }
  
  @media (min-width: 1024px) and (max-width: 1440px) {
 
}

@media (max-width: 1024px) {

}

@media (max-width: 768px) {
  .subtitle-contact{
    font-size: 2.9rem;  
}

}

@media (max-width: 480px) {
  .subtitle-contact{
    margin-bottom: 2vh;
    font-size: 2.5rem;
  }
  .card {
    width: 300px;
    margin-bottom: 4vh;
  }
  .card .title-form{
    font-size: 18px;
  }
  .form .group label {
    font-size: 13px;

  }
 
}



