#welcome-index {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 20px;
    background-color: #d9e3eb;
    min-height: 100vh;
    padding-top: 6vh;
}

#welcome-index h1 {
    font-size: 4rem;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    color: #0877b8;
}

#welcome-index h2 {
    font-size: 3rem;
    font-family: Arial, Helvetica, sans-serif;
}

#welcome-index a {
    text-decoration: none;
    font-size: 1.5rem;
    padding: 15px;
    background-color: #60acee;
    border-radius: 10px;
    color: whitesmoke;
}

/* Responsive */
@media (max-width: 1024px) {
    #welcome-index {
        padding: 0 10%;
        text-align: center;
    }

    #welcome-index h1 {
        font-size: 3.5rem;
    }

    #welcome-index h2 {
        font-size: 2.8rem;
    }

    #welcome-index a {
        font-size: 1.5rem;
        padding: 12px;
    }

}
/* @media (max-width: 480px) {
 
} */
